@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@700&family=Noto+Serif+JP:wght@200;400&display=swap");

/* 自動スクロール */
:root {
  scroll-behavior: smooth;
}

/* bodyの設定 */
body {
  color: white;
  background-color: #730909;
  font-family: "Noto Serif JP", serif;
  font-weight: 200;
}

/* リンクタグの設定 */
a {
  color: inherit;
  text-decoration: none;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  body {
    font-size: 20px;
    line-height: 27px;
  }
}

/* ヘッダーからメインまでのグループ */
.coteiner {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* コンテナ幅をヘッダーの写真画像・メインから設定した */

/* ハンバーガーアイコン */

/* 図形 */
.hmenu {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #730909;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

/* 中のボーダー */
.hmenu span,
.hmenu span::before,
.hmenu span::after {
  width: 35px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  display: block;
  position: absolute;
  transition: 0.5s;
}

.hmenu span::before {
  content: "";
  bottom: 12px;
}

.hmenu span::after {
  content: "";
  top: 12px;
}

/* ハンバーガーメニュー動き後 */
.hmenu.close span {
  background-color: unset;
}

.hmenu.close span::before {
  bottom: 0;
  transform: rotate(-45deg);
}

.hmenu.close span::after {
  top: 0;
  transform: rotate(45deg);
}

/* ヘッダー上部分の背景色 */
header nav {
  background-color: #490808;
}
/* ヘッダー部分にコンテナ幅は設定してないので、navの背景色はめいいっぱい広がり、色がつく */

@media (max-width: 991px) {
  header nav {
    height: 120px;
  }
}

/* ヘッダー部分の構成 */
header nav ul {
  text-align: center;
  padding: 29px 0 45px;
  font-size: 35px;
  padding-top: 29px;
  padding-bottom: 50px;
  max-width: 765px;
  margin-left: auto;
  margin-right: auto;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  header nav ul {
    font-size: 18px;
    line-height: 23px;
  }
}

/* メニューリストのフレックスボックスの親ボックス */
header nav ul {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  header nav ul {
    display: block;
  }
}

/* メニューリストふりがなの設定 */
header nav ul li {
  font-size: 20px;
  line-height: 25px;
}

/* メニューリストのストロングタグのテキストの設定 */
header nav strong {
  display: block;
  font-size: 35px;
  line-height: 40px;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  header nav strong {
    font-size: 30px;
    line-height: 35px;
  }
}

/* メニューリストホバー時の設定 */
header nav li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/* class="active"の設定 */
header nav ul li a.active {
  font-weight: bold;
}

/* レスポンシブ(タブレット)ヘッダー上は表示させないのとロゴの位置変更 */
@media (max-width: 991px) {
  header h1 img {
    margin-top: 0px;
    margin-left: 0px;
  }
}

/* モバイル表示のときはメニューの表示ページの太字を解除 */
@media (max-width: 767px) {
  header nav ul li a.active {
    font-weight: 200;
  }
}

/* ヘッダーｈ１画像部分の設定 */
header h1 {
  padding-top: 51px;
  padding-bottom: 271px;
  padding-left: 62px;
  margin-bottom: -102px;
  background-image: url(../img/ojousan.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  header h1 {
    background-position: center;
  }
}
/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  header h1 {
    height: 561px;
    padding-top: 37px;
    padding: 1%;
    background-image: url(../img/smart-ojou.png);
    background-size: cover;
    background-position: center;
  }
}

/* 宿泊予約ボタンをフレックスボックスにする */
/* 宿泊予約ボタン外枠 */
header div.yoyaku {
  color: #000;

  line-height: 30px;
  display: flex;
  align-items: center;
  background: rgb(240, 212, 70);
  background: linear-gradient(90deg, rgba(240, 212, 70, 1) 0%, rgba(244, 223, 115, 1) 11%, rgba(253, 233, 134, 1) 17%, rgba(255, 246, 158, 1) 21%, rgba(255, 247, 172, 1) 24%, rgba(255, 249, 193, 1) 28%, rgba(255, 247, 172, 1) 34%, rgba(242, 214, 74, 1) 50%, rgba(233, 200, 41, 1) 75%, rgba(220, 187, 24, 1) 100%);
  border: 5px solid #ebad37;
  border-radius: 5px;
  margin-bottom: 52px;
}

/* テキスト宿泊予約 */
header div.yoyaku div.syukuhaku {
  font-size: 30px;

  padding-right: 3.14%;
  padding-left: 3.14%;
  padding-top: 39px;
  padding-bottom: 39px;
  white-space: nowrap;
}

/* フォントサイズ変更 */
@media (max-width: 1429px) {
  header div.yoyaku div.syukuhaku {
    font-size: 2.28vw;
  }
}

/* テキスト上 */
header div.yoyaku div.check {
  font-size: 25px;

  padding-right: 1.25%;
  padding-bottom: 12px;
  white-space: nowrap;
}

/* フォントサイズ変更 */
@media (max-width: 1429px) {
  header div.yoyaku div.check {
    font-size: 2.02vw;
  }
}

/* テキスト下 */
header div.yoyaku div.check p.checkin {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 検索ボタン */
header div.yoyaku div.kensaku {
  background-color: #000;
  color: #fff;
  padding: 11px 26px;
  margin-right: 3.49%;
  white-space: nowrap;
}

/* 矢印の画像 */
header div.yoyaku div.check p.checkin img {
  margin-left: -3px;
}

/* 予約確認・宿泊プラン一覧 */
header div.yoyaku div.itiran {
  font-size: 20px;
  font-size: 1.98vw;
  line-height: 25px;
  margin-right: 44px;
  white-space: nowrap;
}

/* フォントサイズ変更 */
@media (max-width: 1429px) {
  header div.yoyaku div.itiran {
    font-size: 1.98vw;
  }
}

header div.yoyaku div.itiran p.kakunin {
  border: 1px solid #cb9836;
  padding: 7px 9px 8px;
  margin-bottom: 5px;
}
header div.yoyaku div.itiran p.pranitiran {
  border: 1px solid #cb9836;
  padding: 7px 9px 8px;
}

/* タブレットレスポンシブ */
/* 非表示にして、固定ボタンに変更予定 */
@media (max-width: 767px) {
  header div.yoyaku {
    display: none;
  }
}

/* マテリアルアイコン */
[class^="material-"] {
  font-size: inherit;
  vertical-align: -0.1em;
}

/* フッターの設定 */
footer {
  color: #000;
  font-size: 25px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 23px;
  background: rgb(241, 190, 90);
  background: linear-gradient(90deg, rgba(241, 190, 90, 1) 0%, rgba(254, 214, 132, 1) 24%, rgba(237, 215, 168, 1) 40%, rgba(241, 225, 194, 1) 50%, rgba(237, 215, 168, 1) 62%, rgba(234, 200, 127, 1) 73%, rgba(235, 186, 91, 1) 81%, rgba(236, 179, 64, 1) 89%, rgba(223, 158, 34, 1) 100%);
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  footer {
    font-size: 20px;
    line-height: 25px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  footer {
    font-size: 18px;
    line-height: 23px;
  }
}

/* フッターのテキストの設定 */
footer div.juusyo {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  footer {
    margin-top: 40px;
  }
  footer div.juusyo {
    padding-left: 2.8%;
    padding-right: 2.8%;
  }
}

/* ページトップの固定配置 */
footer p.pagetop {
  position: fixed;
  right: 12px;
  bottom: 9px;
  display: none;
}

/* マテリアルアイコンの絶対配置 */
main section.mansion div.house p.syousai a span.material-symbols-outlined {
  position: absolute;
  bottom: 26px;
  right: 20px;
}

/* サンプル */

main section.mansion ul.sample {
  display: none;
}

@media (max-width: 767px) {
  main section.mansion ul.sample {
    display: block;
  }
}

.slick-next {
  right: -35px;
}

.slick-prev {
  left: -35px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  color: #4ead27;
}

.slick-prev,
.slick-next {
  width: 25px;
  height: 25px;
}

section.mansion ul {
  max-width: 66.8%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .hmenu {
    display: flex;
  }
  nav li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* ハンバーガーメニュー用のnav */
/* メニューリスト（左右スライド） */
/* メニューをクリックしたあとの状態 */
/* メニューリストのテキストの設定 */

@media (max-width: 767px) {
  nav {
    width: 0px;
    height: calc(100% - 90px);
    border: none;
    box-shadow: 6px 0 6px;
    position: absolute;
    top: 90px;
    right: 0;
    transition: 0.5s;
    overflow-x: hidden;
    white-space: nowrap;
  }
  .hmenu.close + nav {
    width: 200px;
  }
  nav li {
    padding-left: 20px;
    text-align: left;
  }
}

@media (min-width: 767px) {
  nav {
    display: block !important;
  }
}
