@import url(common.css);

/* ｈ２（背景画像＋縦書き） */
main section h2.anata {
  font-size: 25px;
  font-weight: 400;
  writing-mode: vertical-rl;
  text-align: left;
  padding-top: 47px;
  padding-left: 283px;
  padding-bottom: 90px;
  margin-top: 53px;
}
/* ｈ２全体を文字を縦書きに設定して、左ぞろえにしたうえに、内側上下左余白をつける */

/* ｈ２の２行目 */
main section h2.anata span {
  padding-top: 2em;
}
/* em＝文字サイズ文移動させる */
/* span＝他にふさわしい範囲がないときにつけるインライン要素 */

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  main section h2.anata {
    margin-top: 60px;
  }
}
/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section h2.anata {
    font-size: 30px;
    line-height: 35px;
    writing-mode: horizontal-tb;
    text-align: center;
    padding-left: 7.9%;
    padding-right: 7.9%;
    padding-top: 32px;
    padding-bottom: 35px;
    margin-top: 160px;
  }
  main section h2.anata span {
    padding-top: 5px;
  }
}

/* メインセクション（背景画像） */
main section.fancy {
  font-size: 20px;
  text-align: center;
  background-image: url(../img/hidariue.png), url(../img/ishinageport\ 1.jpg), url(../img/hidarisita.png), url(../img/migisita.png);
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
  background-color: #730909;
  background-blend-mode: screen, normal, screen, screen;
}
/* background-blend-modeでスクリーンを掛ける時は背景色を設定する。 */
/* 背景画像はセクションごとまとめて設定する */

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.fancy {
    background-image: url(../img/hidariue.png), url(../img/ishinageport\ 1.jpg), url(../img/topmigiue.png);
    background-repeat: no-repeat;
    background-position: left top, center top 260px, right top;
    background-color: #730909;
    background-blend-mode: screen, normal, screen;
    padding-bottom: 50%;
  }
}
/* 背景画像の可変幅によって、テキストとの余白が目立つので上下余白をパーセントにして、余白が適切に可変するようにした。 */

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section h2.anata {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 35px;
    margin-top: 130px;
  }
}
/* メインセクションの概要テキスト */
main section div.gaiyou {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  padding-bottom: 15px;
}

/* メインセクションpタグの強調文字 */
main section div.gaiyou strong {
  font-size: 25px;
  line-height: 30px;
}

/* スマホ(横)レスポンシブ */
@media (max-width: 767px) {
  main section div.gaiyou {
    padding-bottom: 38px;
    padding-left: 2.6%;
    padding-right: 1.3%;
    padding-bottom: 140px;
  }
}

/* スマホ（縦）レスポンシブ  */
/* テキストは改行を解除して、両端ぞろえにすることで見やすくした */
@media (max-width: 575px) {
  main section div.gaiyou {
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    padding-bottom: 150px;
    padding-left: 3.6%;
    padding-right: 3.6%;
  }
  main section div.gaiyou br {
    display: none;
  }
  main section.fancy {
    background-image: url(../img/smart-left-bara.png), url(../img/smart-right-bara.png), url(../img/ishinageport\ 1.jpg);
    background-position: left top, right top, center bottom 25%;
    background-size: 72px 77px, 78px 74px, 100%;

    background-color: #730909;
    background-blend-mode: screen, screen, normal;
  }
}
/* 背景画像の可変幅によって、テキストとの余白が目立つので上下余白をパーセントにして、余白が適切に可変するようにした。 */

/* 中見出しタイトルを一括で設定 */
main section h2 {
  font-size: 40px;
  line-height: 40px;
  padding-top: 100px;
  padding-bottom: 65px;
  text-align: center;
}

/* h2 class="kusa"設定 */
main section h2.kusa {
  font-weight: 400;
  background-image: url(../img/PCleaf-left\ 1.png), url(../img/PCleaf-right\ 1.png);
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: right top 100px, left top 100px;
  background-color: #730909;
  background-blend-mode: screen, screen;
  margin-left: 27.7%;
  margin-right: 27.8%;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  main section h2.kusa {
    margin-left: 16.7%;
    margin-right: 17.8%;
  }
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section h2 {
    font-size: 25px;
    line-height: 27px;
    padding-top: 0;
    padding-bottom: 0;
  }
  main section h2.kusa {
    font-size: 30px;
    line-height: 32px;
    background-image: url(../img/smart-leaf-left\ 1.png), url(../img/smart-leaf-right\ 1.png);
    background-repeat: no-repeat;
    background-position: right top 5px, left top 5px;
    background-color: #730909;
    background-blend-mode: screen, screen;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section h2.kusa {
    margin-left: 9.7%;
    margin-right: 9.8%;
  }
}

/* スマホ（縦）レスポンシブ  */
@media (max-width: 575px) {
  main section h2 {
    padding-bottom: 35px;
  }
  main section h2.kusa {
    font-size: 20px;
    line-height: 25px;
    background-image: url(../img/smart-leaf-left\ 1.png), url(../img/smart-leaf-right\ 1.png);
    background-position: right top, left top;
    background-color: #730909;
    background-blend-mode: screen, screen;
  }
}

/* メインセクションｈ３ */
main section.pickup h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 66px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup h3 {
    font-size: 30px;
    line-height: 32px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.pickup h3 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 55px;
  }
}

/* 一覧ボタン */
main section.pickup div.ivent p.itiran {
  font-size: 25px;
  line-height: 30px;
  max-width: 140px;
}

/* ｈ３画像余白 */
main section div.ivent p.aiilust img {
  background-image: url();
}

/* h３不透明白の背景画像 */
main section div.ivent p.aiilust {
  padding-bottom: 68px;
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section div.ivent p.aiilust {
    padding-bottom: 35px;
  }
}

/* リンクタグ設定 */
a {
  color: inherit;
  text-decoration: none;
}

/* ｈ３プラン名 */
main section.pickup div.ivent p.puran {
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 38px;
  text-decoration: underline;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  main section.pickup div.ivent p.puran {
    font-size: 30px;
    line-height: 35px;
  }
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup div.ivent p.puran {
    font-size: 30px;
    line-height: 32px;
    padding-left: 7.1%;
    padding-bottom: 0px;
  }
  main section.pickup div.pikku div.ivent p.aiilust {
    width: 488px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.pickup div.ivent p.puran {
    font-size: 20px;
    line-height: 25px;
  }
}
/* プラン名ホバー時の設定 */
main section.pickup div.ivent p.puran a:hover {
  opacity: 0.7;
}

/* ｈ３日付 */
main section.pickup div.ivent p.day {
  font-size: 25px;
  line-height: 30px;
  background-image: url(../img/kaisaityu.png);
  background-repeat: no-repeat;
  background-position: left 66px bottom 136px;
  padding-bottom: 180px;
  padding-left: 51px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup div.ivent p.day {
    font-size: 20px;
    line-height: 25px;
    padding-left: 8.3%;
    background-image: url(../img/kaisaityu.png);
    background-repeat: no-repeat;
    background-position: left 66px top 1.5em;
    padding-bottom: 40px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.pickup div.ivent p.day {
    background-image: url(../img/smart-kaisai.png);
    background-position: left 11.3% top 1.5em;
    padding-bottom: 70px;
  }
}

/* h3横並びフレックスボックス */
main section.pickup div.pikku {
  display: flex;
  column-gap: 8.4%;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup div.pikku {
    display: unset;
  }
}

/* ｈ３と一覧ボタンのフレックスボックス */
main section div.pikku div.ivent div.ue {
  display: flex;
}

/* 一覧ボタンの基準の配置設定 */
main section.pickup div.pikku div.ivent {
  position: relative;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup div.pikku div.ivent {
    padding-top: 80px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.pickup div.pikku div.ivent {
    padding-top: 0;
  }
}

/* 一覧ボタンの基準の配置 */
main section.pickup div.pikku div.ivent div.ue p.itiran {
  position: absolute;
  top: 0;
  right: 55px;
  cursor: pointer;
  transition: 0.5s;
}

/* 一覧ボタンホバー後 */
main section.pickup div.pikku div.ivent div.ue p.itiran:hover {
  color: #c1adad;
  opacity: 0.7;
  transition: 0.5s;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup div.pikku div.ivent div.ue p.itiran {
    top: 120px;
    left: 60px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.pickup div.pikku div.ivent div.ue p.itiran {
    font-size: 18px;
    line-height: 23px;
    top: 25px;
    left: 40px;
  }
}
/* スマホ（縦）レスポンシブ */
@media (max-width: 767px) {
  main section.pickup div.pikku div.ivent div.ue h3.ibe {
    padding-left: 7.1%;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.pickup div.pikku {
    font-size: 20px;
    line-height: 22px;
  }
}

/* main section.aboutの設定 */
main section.about {
  background-image: url(../img/aboutbara.png), url(../img/migiue.png), url(../img/hidarisita.png);
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom;
  background-color: #730909;
  background-blend-mode: screen, screen, screen;
  margin-bottom: 80px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.about {
    margin-bottom: 40px;
    background-image: url(../img/aboutbara.png), url(../img/migiue.png), url(../img/hidarisita.png), url(../img/migisita.png);
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom, right bottom;
    background-color: #730909;
    background-blend-mode: screen, screen, screen, screen;
    margin-bottom: 35px;
  }
}

/* アバウトのテキストと背景画像設定  */
main section.about h2.syoukai {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;

  margin-top: 70px;
  padding-bottom: 40px;
  padding-top: 0;
}

/* ABOUTのspanタグの設定 */
main section.about h2.syoukai span {
  font-size: 25px;
  font-weight: 200;
  line-height: 25px;
}

/* スマホ（横）のレスポンシブ */
@media (max-width: 767px) {
  main section.about h2.syoukai {
    font-size: 30px;
    line-height: 35px;
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

/* スマホ（縦）のレスポンシブ */
@media (max-width: 575px) {
  main section.about h2.syoukai {
    font-size: 20px;
    line-height: 25px;
    margin-top: 5px;
  }
  main section.about {
    background-image: url(../img/smart-bara2-left.png), url(../img/smart-bara2-right.png), url(../img/smart-bara2-leftbottom.png);
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom;
    background-color: #730909;
    background-blend-mode: screen, screen, screen;
  }
  main section.about h2.syoukai span {
    font-size: 18px;
    line-height: 23px;
  }
}

/* ABOUTの<p class="set">の設定 */
main section.about p.set {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 70px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.about p.set {
    font-size: 20px;
    line-height: 25px;
  }
}

/* スマホ（横）レスポンシブ */
@media (max-width: 575px) {
  main section.about p.set {
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    padding-bottom: 6.7%;
    padding-left: 8.3%;
    padding-right: 8.3%;
  }
  main section.about p.set br {
    display: none;
  }
}

/* h3の設定 */
main section.about div.naiyou h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 31px;
  text-align: left;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  main section.about div.naiyou h3 {
    font-size: 3.2vw;
    text-align: justify;
  }
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.about div.naiyou h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

/* スマホ（横）レスポンシブ */
@media (max-width: 575px) {
  main section.about div.naiyou h3 {
    font-size: 20px;
    line-height: 25px;
  }
}

/* <p class="kobun">の設定 */
main section.about div.naiyou p.kobun {
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 116px;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  main section.about div.naiyou p.kobun {
    font-size: 2.75vw;
  }
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.about div.naiyou p.kobun {
    text-align: justify;
    padding-bottom: 50px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.about div.naiyou p.kobun {
    font-size: 18px;
    line-height: 23px;
  }
}

/* <div class="naiyou">のFlexBoxの設定 */
main section.about div.naiyou {
  display: flex;
}

/* <div class="naiyou">のアイテムの設定 */
main section.about div.naiyou picture {
  flex-basis: 90px;
  margin-right: 15px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.about div.naiyou picture {
    flex-basis: 8.9%;
    margin-right: 0;
  }
}

/* それぞれの文章の設定 */
main section.about div.naiyou div.daibun {
  flex: 1;
}

main section.about div.naiyou p.syasin {
  flex: 1;
  text-align: center;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.about div.naiyou p.syasin {
    padding-bottom: 75px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.about div.naiyou p.syasin {
    padding-bottom: 35px;
  }
}

/* スマホ（横）レスポンシブ */
/* フレックスボックスを折り返しを設定、画像の比率を100％にして行を折り返す、
文章のフレックスオート、外側余白を解除することでトップアイコンと文章が一行になる。 */
@media (max-width: 767px) {
  main section.about div.naiyou {
    flex-wrap: wrap;
  }
  main section.about div.naiyou p.syasin {
    flex-basis: 100%;
  }
  main section.about div.naiyou div.daibun {
    flex: unset;
  }
}
/* スマホ（横）レスポンシブ */
@media (max-width: 575px) {
  main section.about div.naiyou {
    flex-wrap: wrap;
  }
  main section.about div.naiyou p.syasin {
    flex-basis: 100%;
    padding-bottom: 6%;
  }
  main section.about div.naiyou div.daibun {
    flex: unset;
    margin-right: unset;
  }
}

main section.about div.naiyou p.dress {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 65px;
}

/* タブレットレスポンシブ */
@media (max-width: 991px) {
  main section.about div.naiyou p.dress {
    font-size: 2.75vw;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.about div.naiyou p.dress {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 35px;
  }
}

/* セクション"mansion"の設定 */
main section.mansion {
  background-image: url(../img/hidariue.png), url(../img/topmigiue.png), url(../img/hidarisita.png), url(../img/migisita.png);
  background-repeat: no-repeat;
  background-position: left top, right top, left bottom, right bottom;
  background-color: #730909;
  background-blend-mode: screen, screen, screen, screen;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 35px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.mansion {
    padding-bottom: 150px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.mansion {
    padding-bottom: 90px;
  }
}

/* h2のPLANの設定 */
main section h2.goutei {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 83px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section h2.goutei {
    padding-top: 30px;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section h2.goutei {
    font-size: 20px;
  }
  main section.mansion {
    background-image: url(../img/smart-bara2-left.png), url(../img/smart-bara2-right.png), url(../img/smart-bara2-leftbottom.png), url(../img/smart-bara2-rightbottom.png);
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom, right bottom;
    background-color: #730909;
    background-blend-mode: screen, screen, screen, screen;
  }
}

/* PLANのpタグ */
main section p.oshiro {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 40px;
}

/* スマホ（横）レスポンシブ */
/* フォントサイズ、行間の変更・文章の左右余白の減少・ｂｒタグの解除 */
@media (max-width: 767px) {
  main section p.oshiro {
    font-size: 20px;
    line-height: 25px;
    padding-left: 10.5%;
    padding-right: 10.5%;
  }
  main section p.oshiro br {
    display: none;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section p.oshiro {
    font-size: 18px;
    line-height: 23px;
  }
}

/* 画像を横並びに表示する */
/* 下位置の背景の余白 */
/* マテリアルアイコンの絶対配置の基準位置 */
main section.mansion div.house {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 80px;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.mansion div.house {
    display: none;
  }
  main section.mansion div.house p.oshiro {
    text-align: center;
  }
  main section.mansion div.house p.ie {
    text-align: center;
  }
}

/* プラン詳細ボタン */
main section.mansion p.syousai {
  text-align: center;
}
main section.mansion p.syousai a {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  padding: 25px 83px 23px 85px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-color: #730909;
  border-radius: 40px;

  cursor: pointer;
}

/* スマホ（横）レスポンシブ */
@media (max-width: 767px) {
  main section.mansion ul.sample {
    margin-bottom: 30px;
  }
  main section.mansion p.syousai a {
    text-align: center;
    position: relative;
  }
}

/* スマホ（縦）レスポンシブ */
@media (max-width: 575px) {
  main section.mansion p.syousai a {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    position: relative;
  }
}

/* プラン詳細ホバー */
main section.mansion p.syousai a:hover {
  color: #000;
  background-color: rgba(241, 178, 60, 0.514);
}
